---

http:
 #region routers
  routers:
    proxmox:
      entryPoints:
        - "https"
      rule: "Host(`proxmox.home.mitch.casa`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: proxmox
    plex:
      entryPoints:
        - "https"
      rule: "Host(`plex.home.mitch.casa`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: plex
    opnsense:
      entryPoints:
        - "https"
      rule: "Host(`opnsense.home.mitch.casa`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: opnsense

#endregion
#region services
  services:
    proxmox:
      loadBalancer:
        servers:
          - url: "https://10.10.10.5:8006"
        passHostHeader: true
    plex:
      loadBalancer:
        servers:
          - url: "https://10.10.70.5:32400"
        passHostHeader: true
    opnsense:
      loadBalancer:
        servers:
          - url: "https://10.10.10.1:8443"
        passHostHeader: true

  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true

    authentik:
      forwardAuth:
        address: "https://authentik_server:9443/outpost.goauthentik.io/auth/traefik"
        trustForwardHeader: true
        authResponseHeaders:
          - X-authentik-username
          - X-authentik-groups
          - X-authentik-email
          - X-authentik-name
          - X-authentik-uid
          - X-authentik-jwt
          - X-authentik-meta-jwks
          - X-authentik-meta-outpost
          - X-authentik-meta-provider
          - X-authentik-meta-app
          - X-authentik-meta-version

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipAllowList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers